<div class="boxWrapEvent_menu2">
    <img src="{{linkImage}}" alt="">
    <div class="paragraphContent_boxWrap">
        <h2 class="textLimiter">{{nameEvent}}</h2>
        <h3 class="textLimiter">{{localEvent}}</h3>
    <h3>{{dateEvent}}</h3>
    </div>
</div>