#contentBoxHistory {
    display: flex;
    max-width: 1140px;
    width: 100%;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
}

#contentBoxHistory img {
    width: 100%;
}

#conteinerLayout {
    display: flex;
    padding: 34px 28px 28px 28px;
    flex-direction: column;
    gap: 45px;
    margin-bottom: 60px;
    background: #FFF;
}

#segmentoMenu {
    display: flex;
    padding: 22px 60px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;

    border-radius: 20px;
    border: 3px solid rgba(241, 190, 114, 0.29);
    background: #FAF9F9;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.05);
}

#segmentoMenu img {
    width: 100%;
    height: 64px;
    flex-shrink: 0;
}

#horizontal_navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button_navbar {
    cursor: pointer;
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
    border-radius: 10px;
}

.button_navbar:hover {
    background: #FFBD59;
    box-shadow: 2px 5px 10px 0px rgba(47, 170, 103, 0.15);
}

.button_navbar h1 {
    color: #FFAB2D;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 400;
}

#Select_button_navbar h1 {
    color: #FFF;
}

#Select_button_navbar {
    background: #FFBD59;
    box-shadow: 2px 5px 10px 0px rgba(47, 170, 103, 0.15);
}

/*Menu 3*/
#containerMenu3 {
    display: flex;
    padding: 40px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    background: #FFF;
}

/*Menu 3*/
#h1Text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    align-self: stretch;
    overflow: hidden;
    color: #D39B46;
    text-align: justify;
    text-overflow: ellipsis;
    font-family: "iciel_gothamultra";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 107.143% */
    text-transform: uppercase;

}

/*Menu 3*/
#h3Text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    align-self: stretch;
    overflow: hidden;
    color: #646464;
    text-align: justify;
    text-overflow: ellipsis;
    font-family: "iciel_gothammedium";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 142.857% */

}

/*Menu 3*/
#containerInfer {
    height: 32px;
    align-self: stretch;
    background: #2FAA67;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
}

@media only screen and (max-width: 590px) {
    #containerMenu3 {
        padding: 40px 30px;
    }
}